<%- include("partials/header.ejs") %>
<section class="edit-profile-section">
    <div class="dashboard-profile-edit">
        <div class="profile-form-container">
            <h2>Edit <span style="color: #6528F7;">Profile</span></h2>
            <form action="/save-profile" class="edit-profile-form" method="POST">
                
                <label for="first_name">First Name:</label>
                <input type="hidden" name="user_id" value="<%= profile.user_id %>">
                <input type="text" id="first_name" name="first_name" value="<%= profile ? profile.first_name : '' %>" required>
                
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" value="<%= profile ? profile.last_name : '' %>" required>
                
                <label for="bio">Bio:</label>
                <textarea id="bio" name="bio"><%= profile ? profile.bio : '' %></textarea>

                <label for="about">About:</label>
                <textarea id="about" name="about"><%= profile ? profile.about : '' %></textarea>

                <label for="country">Country:</label>
                <input type="text" id="country" name="country" value="<%= profile ? profile.country : '' %>" required>

                <label for="city">City:</label>
                <input type="text" id="city" name="city" value="<%= profile ? profile.city : '' %>" required>

                <label for="full_address">Full Address:</label>
                <textarea id="full_address" name="full_address"><%= profile ? profile.full_address : '' %></textarea>

                <button type="submit" class="button save-button">Save</button>
                <button type="button" class="button cancel-button" onclick="window.location.href='/profile/<%= profile.user_id %>'">Cancel</button>
            </form>
        </div>
    </div>
</section>
<%- include("partials/footer.ejs") %>